<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="node-teiler" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="node-teiler" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="node-teiler" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="node-teiler" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Ratchet template page</title>

    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Include the compiled Ratchet CSS -->
    <link href="bower_components/ratchet/dist/css/ratchet.css" rel="stylesheet">

    <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Abel|Open+Sans:400,600' rel='stylesheet'>
    <link rel="stylesheet" href="app.css"/>
    <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>

    <!-- Include the compiled Ratchet JS -->
    <script src="bower_components/ratchet/dist/js/ratchet.js"></script>
</head>
<body>

<!-- Make sure all your bars are the first things in your <body> -->
<header class="bar bar-nav">
    <h1 class="title">Node-Teiler</h1>
</header>

<!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
<div class="content">
    <div ng-controller="ListController">
        <div class="card">
            <form>
                <input type="text" ng-model="myPeer.name" ng-model-options="{ updateOn: 'blur' }" placeholder="My Computer">
            </form>
        </div>
        <div ng-view></div>
        <div class="card">
            <ul class="table-view">
                <li ng-repeat="peer in peers" class="table-view-cell">
                    <strong>{{ peer.name }}</strong>
                    <div class="card">
                        <ul class="table-view">
                            <li class="table-view-cell"><strong>Files</strong></li>
                            <li ng-repeat="file in peer.files" class="table-view-cell">
                                {{ file.name }}
                                <button class="btn btn-positive">Download</button>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<script src="bower_components/angular/angular.js"></script>
<script src="app.js"></script>
<script src="components/list/list.js"></script>

</body>
</html>
