<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="node-teiler" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="node-teiler" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="node-teiler" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="node-teiler" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Node-Teiler</title>

    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Include the compiled Ratchet CSS -->
    <!-- build:css styles/vendor.css -->
    <link href="bower_components/ratchet/dist/css/ratchet.css" rel="stylesheet">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Abel|Open+Sans:400,600' rel='stylesheet'>

    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="app.css"/>
    <!-- endbuild -->
    <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>

<!-- Make sure all your bars are the first things in your <body> -->
<header class="bar bar-nav">
    <h1 class="title">Node-Teiler</h1>
</header>

<!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
<div class="content">
    <div ng-controller="ListController">
        <div class="content-padded">
            <form>
                <input class="textInput" type="text" ng-model="myPeer.name" ng-model-options="{ updateOn: 'blur' }" placeholder="My Computer">
            </form>
        </div>
        <div ng-view></div>
        <div class="content-padded">
            <h3>Files</h3>
            <input style="display:none;" id="fileInputDialog" type="file" on-change="addFile()" />
            <button class="btn btn-negative addButton" ng-click="clickAddButton($event)" >Add File</button>
        </div>
        <div class="card">
            <ul class="table-view">
                <li class="table-view-cell" ng-repeat="file in myPeer.availableFiles">
                    {{file.filename }}
                </li>
            </ul>
        </div>
        <div class="content-padded">
            <h3">Peers</h3>
        </div>
        <div class="card" ng-repeat="peer in peers">
            <ul class="table-view">
                <li class="table-view-cell">
                    <strong>{{ peer.name }}</strong>

                </li>
                <li ng-repeat="file in peer.files" class="table-view-cell">
                    <input style="display:none;" id="{{ peer.name }}fileSaveDialog" type="file" nwsaveas="{{ file.name }}" on-change="downloadFile(peer, file)" />
                    {{ file.name }}
                    <button class="btn btn-positive" ng-click="clickDownloadButton($event, peer, file)" >Download File</button>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/ratchet/dist/js/ratchet.js"></script>
<script src="app.js"></script>
<script src="components/list/list.js"></script>
<script src="components/peerdiscovery/peerdiscovery.js"></script>
<script src="components/filetransfer/filetransfer.js"></script>
<!-- endbuild -->
</body>
</html>
